.userMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

p {
    margin: 0;
    font-size: 16px;
    color: #000;
}

.btn {
    padding: 4px 10px;
    background-color: #373358;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
}